* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5203fc;
}

::selection {
  color: #fff;
  background: #5203fc;
}

.open-button {
  background-color: #fff;
  color: #5203fc;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 280px;
  font-size: 1.2rem;
}

.open-button:hover {
  opacity: 1;
}

.popup {
  display: none;
  position: fixed;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  z-index: 9;
}

.close-button {
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 280px;
  margin-top: 15px;
}